html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, img, strong, sub, sup, b, u, i, center, dl, dt, dd, ol, ul, li, form, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, footer, header, menu, nav, mark, audio, video {
		margin: 0;
		padding: 0;	border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
}

* {
	box-sizing:border-box
}

.sidebar {
	position: absolute;
  width: 23vw;
  background: #189BFA;
  height:1500vh;
	text-align: center;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.logo {
  width: 19vw;
  height: auto;
  padding-top: 2.5vh;
}

.searchwrapper {
  margin: 50px 100px;
  display: inline-block;
  position: absolute;
  height: 60px;
  top: 15vh;
	left: 10vw;
  padding: 0;
}

input[type="text"] {
  height: 60px;
  font-size: 5vh;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #084A83;
  padding: 3px;
  padding-right: 8vh;
  width: 0px;
  position: absolute;
  top: 0;
  right: 3vw;
  background: none;
  z-index: 3;
  transition: width .8s cubic-bezier(0.000, 0.395, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
  width: 20vw;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
input[type="submit"] {
  height: 7vh;
  width: 7vh;
  display: inline-block;
  color:red;
  float: right;
  text-indent: -100000px;
	background: none;
  border: none;
  position: absolute;
  top: 0;
  right: 3vw;
  z-index: 2;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity .8s ease;
}

.s {
	position: absolute;
	left: -14vh	;
	top:40vh;
}

input[type="submit"]:hover {
  opacity: 1;
}

::-webkit-input-placeholder {
   color: #084A83;
}

#node {
		top: 46vh;
		left: 60vw;
		position: absolute;
		width: 6vh;
		height: 6vh;
		border-radius: 50%;
		border: 1px solid black;
}

#node:hover {
	cursor: pointer;
}
.card {
	display: none;
	left: 2.6vw;
	top: 35vh;
  background: #fff;
  border-radius: 2px;
  position: absolute;
  width: 18vw;
  height: 35vh;
  box-shadow: 0 6px 12px rgba(0,0,0,0.18), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
.myButton:active {
	position:relative;
	top:1px;
}
.moviepicture {
	top: 6px;
	vertical-align: middle;
  width: 140px;
  height: 209px;
  position: relative;
}
.img-b {
	align-items: center;
	background-color: black;
	width: 140px;
	height: 209px;
}
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
